body{
    margin:0px;

}
/*Transitions*/

/*start media screen*/
@media only screen and (max-width: 768px){
 body{


  .nav{


       display:flex;
       justify-content:left;
       position:fixed;
       background-color:white;
       color:black;
       top:0px;
       width:100%;



  }
.section-main{
     border:0px;
     padding:0px;
}
.container-sobrenosaltres{
           border:0px solid;


}




 .img-sobrenosaltres,.img2-sobrenosaltres {
              width:100%;
              float:left;
              padding:20px;
  }
  .container_contingut{
      margin:0px;
      gap:10px;
     display:grid;
     align-items:center
     grid-template-column: 50% 50% 50% 50%;
     grid-template-areas:
                           'p3 p3 p3 p3'
                           'p3 p3 p3 p3'
                           'image1 image1 image1 image1'
                           'image1 image1 image1 image1'
                           'image2 image2 image2 image2'
                           'image2 image2 image2 image2'
                           'p4 p4 p4 p4'
                           'p4 p4 p4 p4'
                           'image3 image3 image3 image3'
                           'image3 image3 image3 image3'
                           'image4 image4 image4 image4'
                           'image4 image4 image4 image4';
                           }

.img1-contingut{
               width:50%;

               display:grid;
               grid-area:image1;
               grid-column-start:3;
               justify-self:center;
               align-self:center;
               position:relative;
               display:inline-block;

}
.img1-contingut img{
   width:100%;


}
.img2-contingut{
        width:50%;
        height:auto;

        display: grid;
        grid-area:image2;
        grid-column-start:3;
        justify-self:center;
        position:relative;
 }
.img2-contingut img{
   width:100%;
    height:100px;
    display:block;
}
.img3-contingut{
       width:50%;

       display: grid;
       grid-area:image3;
       justify-self:center;
       align-self:center;
       grid-column-start:3;
       grid-row-start:


  }
.img3-contingut img{
   width:100%;
   height:100px;

}
.img4-contingut{
      width:50%;

      display: grid;
      grid-area:image4;
      grid-column-start:3;
      justify-self:center;
      grid-row-start;
      position: relative;

  }
.img4-contingut img{
   width:100%;
   height:100px;

}
.menu1{
     display:grid;
     grid-row-start:7;
     grid-row-end:15;
     grid-column-start:1;
     border:1px;
     border-style:outset;
     align-items:center;
     padding:10px;



}
.menu2{
     display:grid;
     grid-row-start:1;
     grid-row-end:7;
     grid-column-start:1;
     border:1px;
     border-style:outset;
     align-items:center;
     padding:10px;




}
.element3{
          display:grid;
          grid-area:p3;
          grid-column-start:2;




}
.element4{
        display:grid;
        grid-area:p4;
        grid-column-start:3;
        align-items:start;



}
.galeria_Imatges{
         gap:5px;
        display:flex;
        flex:wrap;
        margin:0px;


.img1{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img2{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img3{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img4{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img5{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img6{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img7{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img8{
   width:45%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
}
.contact_info{
    background-color:black;
    color:white;
    display:flex;

    gap:2%;

}
.contact_info p{
margin-right:auto;
}


}
}

/*mobile-576*/
@media only screen and (max-width: 576px) {
  body {
    /* Styles for body at this breakpoint */
  }

  .element3,
  .element4 {
    width: 100%; /* Set width to 100% for element3 and element4 */
  }

  .img1-contingut,
  .img2-contingut,
  .img3-contingut,
  .img4-contingut {
    width: 100%; /* Set width to 100% for image containers */
  }

  .img1-contingut img,
  .img2-contingut img,
  .img3-contingut img,
  .img4-contingut img {
    width: 100%; /* Set width to 100% for images inside containers */
    height: auto; /* Ensure aspect ratio is maintained */
  }

  .Galeria h2 {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .galeria_Imatges {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 20px;
    justify-content: flex-start;
    align-items: center;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7,
  .img8 {
    width: 100%;
    box-sizing: border-box;
  }
}
/*end media screen*/
.nav{
     display:flex;
     justify-content:flex-end;
     border:solid;
     gap:10px;
     padding:20px;
     position:fixed;

     top:0px;
     width:98%;
     background-color:black;
     color:white;
     z-index:2;

}
a{
   color:white;
   text-decoration:none;
}
a:hover{
       text-decoration:underline;
}

.header{
         border:1px solid;

}
.header img{
           width:100%;


}
.coverLetter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: rgba(0, 0, 0, 0.5);*/
   padding: 20px;
   color: orange;
   opacity: 0;
   /*transform: translateY(50px);*/
    transition: color 1s, transform 1s, opacity 1s;
    /*animation-name:heading;
      animation-duration:4s;


    */
}
/**animations*/
@keyframes slideAndFade{
    0% {
        opacity: 0;
        /*transform: translateY(50px);*/
        color: orange;
    }


    100% {
        opacity: 1;
       /* transform: translateY(0);*/
        color: white;
    }
}

.coverLetter {
    animation: slideAndFade 4s ease forwards;
}
/**end animations*/

.coverLetter h2,
.coverLetter p {
  margin: 0;

}/**Main*/
.main{

     display:flex;
     flex-direction:column;
     align-items:center;
     jusify-content:center;

}
.section-main{
      width:70%;
      padding:20px;
      border:1px solid black;
}

/**sobre nosaltres**/
.container-sobrenosaltres{
           border:1px solid;

}

.element1 p{
        width:50%
         heigth:70px;

}
.img-sobrenosaltres {
      width:20%;
     float:left;
     padding:20px;
}
.img-sobrenosaltres img{
      width:100%;
}

.img2-sobrenosaltres{
      width:20%;
     float:right;
     padding-right:20px;
}
.img2-sobrenosaltres img{
      width:100%;

}
/*section main*/
.menu{
     color:white;
     background-color:#09105c;
     text-align:center;

}

.container_contingut{
   display:grid;
   align-items:center
   grid-template-column: 20% 40% 40% 40%;
   grid-template-areas:
                         'p3 p3 p3 p3'
                         'p3 p3 p3 p3'
                         'image1 image1 image2 image2'
                         'image1 image1 image2 image2'
                         'p4 p4 p4 p4'
                         'p4 p4 p4 p4'
                         'image3 image3 image4 image4';

}

.menu1{
     display:grid;
     grid-row-start:4;
     grid-row-end:8;
     grid-column-start:1;
     border:1px;
     border-style:outset;
     align-items:center;
     margin:40px;





}
.menu2{
     display:grid;
     grid-row-start:1;
     grid-row-end:5;
     grid-column-start:1;
     border:1px;
     border-style:outset;
     align-items:center;
     margin:  40px;


}

.element3{
          display:grid;
          grid-area:p3;
          grid-column-start:3;
          margin:0px 0px 0px 0px;


}
.element4{
        display:grid;
        grid-area:p4;
        grid-column-start:3;
        align-items:start;
        margin:0px 0px 0px 0px;


}
.img1-contingut{
               width:45%;

               display:grid;
               grid-area:image1;
               grid-column-start:3;
               justify-self:center;
               align-self:center;
               position:relative;
               display:inline-block;

}
.img1-contingut img{
   width:100%;
   height:100px;

}

.img1-contingut::after {
  content: "Pasta";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img1-contingut:hover::after {
  opacity: 1;
}

.img2-contingut{
        width:45%;

        display: grid;
        grid-area:image2;
        grid-column-start:4;
        position:relative;



 }
.img2-contingut img{
   width:100%;
    height:100px;
    display:block;


}

.img2-contingut::after {
  content: "Entrants";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img2-contingut:hover::after {
  opacity: 1;
}


.img3-contingut{
       width:45%;

       display: grid;
       grid-area:image3;
       justify-self:center;
       align-self:center;
       grid-column-start:3;
       grid-row-start:


  }
.img3-contingut img{
   width:100%;
   height:100px;

}
.img3-contingut {
  position: relative;
}

.img3-contingut::after {
  content: "Carn";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img3-contingut:hover::after {
  opacity: 1;
}

.img4-contingut{
      width:45%;

      display: grid;
      grid-area:image4;
      grid-column-start:4;
      grid-row-start;
      position: relative;

  }
.img4-contingut img{
   width:100%;
   height:100px;

}

.img4-contingut::after {
  content: "Peix";
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.img4-contingut:hover::after {
  opacity: 1;
}

/*Galeria d'Imatges*/

.galeria_Imatges{
         gap:5px;
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        margin:20px;


}
.Galeria h2{
       margin:50px;
}

.img1{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img1 img{
  width:100%;
  height:100px;



}
.img1:hover {
  border: 2px solid red;
  filter: brightness(40%);
  transition: width 2s, height 4s;
   transition-timing-function: linear;
  width: 50px;
}
.img2{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img2 img{
  width:100%;
  height:100px;
}
.img2:hover {
  border: 2px solid red;
  filter: brightness(40%);
  transition:.5s ease-in-out;
  filter:grayscale(100%);
}
.img3{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img3 img{
  width:100%;
  height:100px;
}
.img3:hover {
  border: 2px solid red;
  filter: brightness(40%);
  transition: width 2s, height 4s;
   transition-timing-function: linear;
  width: 50px;
}
.img4{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img4 img{
  width:100%;
  height:100px;
}
.img4:hover {
  border: 2px solid red;
  filter: brightness(40%);
  transition: width 2s, height 2s, transform 2s;
  width: 100px;
  height: 100px;
  transform: rotate(180deg);
}
.img5{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img5 img{
  width:100%;
  height:100px;
}
.img5:hover {
  border: 2px solid red;
  filter: brightness(40%);
}
.img6{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img6 img{
  width:100%;
  height:100px;
}
.img6:hover {
  border: 2px solid red;
  filter: brightness(40%);
}
.img7{
   width:20%;
   border-style: outset;
     margin: 5px;
     box-sizing: border-box;

}
.img7 img{
  width:100%;
  height:100px;
}
.img7:hover {
  border: 2px solid red;
  filter: brightness(40%);
  transition:.5s ease-in-out;
  filter:grayscale(100%);
}
.img8{
   width:20%;
   border-style: outset;
    margin: 5px;
    box-sizing: border-box;

}
.img8 img{
  width:100%;
  height:100px;

}
.img8:hover {
  border: 2px solid red;
  filter: brightness(40%);
  transition: width 2s, height 2s, transform 2s;
    width: 100px;
    height: 100px;
    transform: rotate(180deg);
}

/*Footer*/
.contact_info{
    background-color:black;
    color:white;
    display:flex;
    gap:2%;

}
.contact_info p{
margin-left:auto;
}
